REACT_APP_FB_CONFIG="{"apiKey":"your-key","authDomain":"your-domain","databaseURL":"your-db-url","projectId":"your-project-id","storageBucket":"your-bucket","messagingSenderId":"your-sender-id","appId":"your-app-id","measurementId":"your-measurement"}"