.rich-text-editor {
  position: relative;
  width: 100%;
  height: max-content;
  font-family: var(--font-main);
  font-size: 1.6rem;
  margin-top: 3rem;
  padding: 3rem;
  outline: none;
  border: none;
  background-color: white;
  box-shadow: 0 0.2rem 2rem rgb(228, 228, 228);
  border-radius: 3rem;
  display: block;

  &__container {
    height: 100%;
    width: 100%;
  }
}

.public-DraftEditorPlaceholder-inner {
  position: absolute;
  color: #ccc;
  pointer-events: none;
}
.public-DraftEditor-content {
  height: max-content;
  min-height: 20rem;
  // max-height: 80rem;
  overflow-x: visible;
}