.icon-option {
  display: flex;
  flex-direction: column;
  &__radio {
    visibility: hidden;
    opacity: 0;
    &:checked + .icon-option__label #component {
        box-shadow: 0 0.2rem 1rem rgb(170, 170, 170);
    }
  }
  &__icon {
    height: 4rem;
    width: 4rem;
    border-radius: 5rem;
  }
}
