@import './variables';
@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

@font-face {
    font-family: $fontBold;
    src: local($fontBold),
      url(../fonts/Gilroy-ExtraBold.otf) format("opentype");
  }
  
  @font-face {
    font-family: $font;
    src: local($font), url(../fonts/Gilroy-Light.otf) format("opentype");
  }