@import "../../../styles/imports";

.feed {
  @include padding;
  position: relative;

}

.post-button {
  position: fixed;
  bottom: 5rem;
  right: 10rem;
  z-index: 999;
  background: $gradientColor;

  // background-color: $mainColor;
  padding: 1.5rem 2.5rem;
  color: white;
  border-radius: $borderRadius;
  transition: all 0.15s;
  box-shadow: 0 0.2rem 1rem rgb(170, 170, 170);

  @include resize(800px) {
    right: 8rem;
  }

  @include resize(700px) {
    right: 6rem;
  }

  @include resize(600px) {
    right: 5rem;
  }

  @include resize(500px) {
    right: 4rem;
  }

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.4rem 1.4rem rgb(170, 170, 170);
  }
}
