.feed {
  &__feed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
  }
}

.item {
  border-radius: 3rem;
  box-shadow: 0 1rem 3rem rgb(180, 180, 180);
  overflow: hidden;
  cursor: pointer;
  &__info{
      padding: 3.5rem;
  }
  &__title{
    font-family: var(--font-main-bold);
    font-size: 2.5rem;
    
  }
  &__summary{
    margin-top: 2rem;
    color: var(--color-grey-medium);
  }

}
