@import "../../../../styles/imports";

.principle {
  padding: 5rem;
  border-radius: $borderRadius;
  background-color: white;
  //   box-shadow: 0 0.2rem 1rem rgb(170, 170, 170);
  border: 2px $greyLight solid;
  width: 100%;
  &__img {
    max-width: 10rem;
    max-height: 10rem;
    margin-right: auto;
    margin-left: auto;
  }
  &__title {
    font-family: $fontBold;
    font-size: 2rem;
  }
}
