@import "../../styles/imports";

.header {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  align-items: center;
  grid-gap: 8rem;
  margin-bottom: 5rem;

  &__logo {
    height: 8rem;
    width: 8rem;
    background: url("/imgs/logo.jpg") no-repeat;
    background-size: cover;
    cursor: pointer;
    &-container {
      display: grid;
      grid-template-columns: repeat(2, min-content);
      grid-gap: 3rem;
      align-items: center;
    }
  }

  &__title {
    font-family: $fontBold;
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
    color: $greyDark;

    &:hover {
      color: $greyLight;
      cursor: pointer;
    }
  }

  &__auth {
    height: 4rem;
  }
}
