@import "../styles/imports";

.app {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
  @include resize(800px) {
    padding: 3rem 7rem;
  }

  &__footer {
    margin-top: -10rem;
  }
}
