@import "../../../styles/imports";

.careers {
  background-color: $mainColorSuperLight;
  position: relative;
  @include padding;


  &__header {

    // @include section-1;
    // background-color: white;

    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    padding: 0 10%;
    margin-top: 5rem;
    align-items: center;

    &-message {
      padding: 7rem;
    }
  }

  &__expanding {
    @include section-2;
    padding-top: 7rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    background-color: white;
  }

  &__positions{
    @include section;

      &-feed{
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 8rem;
          margin-top: 8rem;
          justify-content: center;
          align-items: center;
          justify-items: center;
      }
  }
}
