@import "../../../../styles/imports";

.post {
  @include basicContainer;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
  position: relative;
  overflow: hidden;
  direction: rtl;

  &__title {
    font-family: $fontBold, $fontHebrew;
    font-size: 2rem;
    color: $mainColorBlack;
  }

  &__body {
    color: $grey;
  }
  &__location {
    color: $grey;
    cursor: pointer;

    &:hover {
      color: $mainColor;
    }
  }
  &__distance {
    color: $greyLight;
  }
  &__timestamp {
    color: $grey;
  }
  &__author-name {
    color: $grey;
  }
  &__content{
    // background-color: $greyLightest;
    border-radius: $borderRadius;
    padding: 3rem;
    // border: $mainColor 1px solid;
  }

  &__remove {
    color: $greyDark;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }

  &__details {
    @include gridVariation;
    grid-template-columns: repeat(2, max-content);
    @include resize(700px) {
      grid-template-columns: 1fr;
    }
  }

  @include toggleConainer;

  &__hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
