@import '../../../styles/imports';

.search-page {
  @include padding;

    width: 100%;
    display: grid;
    grid-gap: 4rem;
    align-items: center;
    &__title{
      font-family: $fontBold;
      font-size: 4rem;
    }
  }